@model Umbraco.Cms.Web.Model.BackOffice.Editors.CreateDocumentTypeModel
@using Umbraco.Cms.Web

@Html.ValidationMessageFor(x => Model.Name)
<div class="editor-label">
    @Html.LabelFor(x => Model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(x => Model.Name)
</div>

<div class="editor-label" style="display:none;">
    @Html.LabelFor(x => Model.SelectedDocumentTypeId)
</div>
<div class="editor-field" style="display:none;">
    @Html.EditorFor(x => Model.SelectedDocumentTypeId)
</div>

<div class="editor-label">
    @Html.EditorFor(x => Model.CreateTemplate) @Html.LabelFor(x => Model.CreateTemplate)
</div>