@model Umbraco.Cms.Web.Model.BackOffice.Editors.CreateContentModel


@Html.ValidationMessageFor(x => Model.Name)

@Html.HiddenFor(x => Model.ParentId)
<div class="editor-label">
    @Html.LabelFor(x => Model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(x => Model.Name)
</div>

<div class="editor-label" style="display:none;">
    @Html.LabelFor(x => Model.SelectedDocumentTypeId)
</div>
<div class="editor-field" style="display:none;">
    @Html.EditorFor(x => Model.SelectedDocumentTypeId)
</div>